{% extends "base.html" %}
{% block content %}
<div class="container">
    <h4>
        42 Coffe Cups Test Assignment
    </h4>
    <table border="0" cellpadding="8" cellspacing="8">
        <tr>
            <td>
                {{ person_description.name }}
            </td>
            <td>
                Contacts
            </td>
        </tr>
        <tr>
            <td>
                {{ person_description.second_name }}
            </td>
            <td>
                Email: {{ person_description.email }}
            </td>
        </tr>
        <tr>
            <td>
                {{ person_description.birthdate }}
            </td>
            <td>
                Jabber: {{ person_description.jabber_id }}
            </td>
        </tr>
        <tr>
            <td>
                {{ person_description.biography }}
            </td>
            <td>
                Skype: {{ person_description.skype_id }}
            </td>
        </tr>
        <tr>
            <td>
                Multiline
            </td>
            <td>
                {{ person_description.other_contacts }}
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                Multiline
            </td>
        </tr>
    </table>
</div>
{% endblock content %}

